body {
	font-family: "SUSE", Calibri, sans-serif;
	color: #001017;
}

audio {
	display: none;
}

a:link {
	color: #001017;
	background-color: transparent;
	text-decoration: none;
}

h2 {
	display: block;
	font-size: 1.5em;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-block-start: 0.2em;
	margin-block-end: 0.2em;
	color: #003044;
}
