body {
	font-family: "SUSE", "Kumbh Sans", "Montserrat", "Roboto", Calibri, sans-serif;
	color: #130010;
}

audio {
	display: none;
}

a:link {
	color: inherit;
	background-color: transparent;
	text-decoration: none;
}

h2 {
	display: block;
	font-size: 1.5em;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-block-start: 0.2em;
	margin-block-end: 0.2em;
	color: #3A0048;
}

input, button, select, audio, iframe {
	font-family: inherit;
}

.but {
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
 .but1 {
    background-color: white;
     color: black;
     border: 2px solid #800080;
}
 .but1:hover {
    background-color: #800080;
    color:white;
}
 .but2 {
    background-color: white;
     color: black;
     padding: 2px 2px;
     margin: 1px 1px;
     border: 2px solid #800080;
}
 .but2:hover {
    background-color: #800080;
    color:white;
}
/* The container must be positioned relative: */
.custom-select {
  position: relative;
/*  font-family: Arial; */
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #800080;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #800080;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
